button {
    padding: 0;
    border: none;
    background-color: transparent;

}

body {
    color: #151518;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    position: relative;

}

html,
body {
    height: 100%;
}
.hero-section {
    
      background-image:
                   
                    linear-gradient(to right,
                   
                        #F8F8F8 0%,
                       
                   #F8F8F8 30%,
                      
                        rgba(248, 248, 248, 0) 60%),
               
                    url(images/kosmo.png);
                    height: 100vh;
                        min-height: 686px;
                    
                       
                        background-size: 70% auto;
                        background-position: right top;
                        background-repeat: no-repeat;
                    
                        position: relative;
                        color: white;
                    
                       
                        background-color: #F8F8F8;
                    
                   

        }
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding-top: 15px;
}

.navigator-list {
    
}

.navigator-item {
 font-size: 22px;
 line-height: 21px;
 font-weight: 700;
 white-space: normal;
}
.icon-nav{
    display: inline-block;
    margin-right: 15px;
   
}
.navigator-link{
    padding-left: 50px;
 color:rgba(43, 127, 255, 1);
 display: block;

 
}
.navigator-title{
    margin-right: 110px;;
}

.sub-navigation {
    display: flex;
    justify-content: center;
    gap: 56px;
    font-size: 18px;
    line-height: 100%;
    color:rgba(0, 0, 0, 1);
}

.sub-navigation-link {
    font-size: 18px;
        line-height: 100%;
        color: rgba(0, 0, 0, 1);
}
 .sub-navigation-link:hover{
color:rgba(43, 127, 255, 1);
 }
.navigator-title {
display: flex;
justify-content:end;
align-items: center;

}



.nav-class {
   display: flex;
  
    justify-content: end;
}


h1{
padding-left: 170px;
    color:rgba(43, 127, 255, 1);
    font-size: 140px;
    line-height: 114px;
    font-weight: 700;
}
.button{
  align-items: center;
  border-radius: 32px;
  background-color: rgba(43, 127, 255, 1);
  color:#FFF;
  width: 219px;
  height: 53px;
margin-left: 170px;
margin-top: 20px;
}

.text{
    color:rgba(1, 28, 68, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
  padding-left: 170px;
  margin-top: 30px;
 

}
.text-aline{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  
color:rgba(74, 74, 74, 1);
padding-left: 170px;
margin-top: 20px;



}
.hero-content{
    padding-top: 40px;

}
.button:hover{
    background-color:rgba(1, 28, 68, 1) ;
}
h2 span{
    color:rgba(43, 127, 255, 1);
}
.reasons-section {}

.container {}

.block-title {
    flex-wrap: wrap;
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
margin-top: 50px;
padding-left: 50px;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 50px;;
}

.text-column {
    width: 60%;
}

.text-description {
    font-size: 22px;
    line-height: 38px;
    font-weight: 400;
    flex-wrap: wrap;
    margin-top: 50px;
}

.text-main {
    font-size: 22px;
    line-height: 38px;
   font-weight: 400;
    flex-wrap: wrap;
    color:rgba(1, 28, 68, 1);
    margin-top: 50px;
}
.text-main span {
    font-weight: bold;
    color:black;
}

.photo-container {
    width: 40%;
        /* Робимо цей контейнер точкою відліку для абсолютних картинок */
        position: relative;
        /* Переконайтеся, що він має достатню висоту */
        height: 400px;
}

.woman-circle {
width: 343px;
    height: 328px;
    border-radius: 50%;
 overflow: hidden;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;

transform: translateY(-150px);
   
}


.woman-circle-1 {
    position: absolute;
    
    top: 20px;
    right: 180px;
  }

.woman-circle-2 {
    top: 380px;
   
        /* Зсув вниз */
        left:180px;
}

.star-1 {
    width: 64px;
    height: 64px;
    /* Зменште top, щоб підняти. Зменште left, щоб помістити на екран. */
    top: 220px;
    right: 100px;
}

.star-2 {
    width: 40px;
    height: 40px;
    /* Видалено bottom і right, залишено лише top і left */
    top: -150px;
    left: 450px;
}

.star-3 {
    width: 16px;
    height: 16px;
    /* Видалено дублювання */
    top: 120px;
    left: 470px;
}
.photo-container {
    /* Цей контейнер має бути точкою відліку для всього: фото та обгортки зірок */
    position: relative;
  
}

.stars-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    z-index: 5;
}

.star {
 
    position: absolute;
    
}
.top-section {
  
    background-image: url('path/to/wave-divider.svg');
    background-size: 100% auto; 
    background-repeat: no-repeat;
    background-position: bottom;

 padding-bottom: 50px;
}

.header-class {
    text-align: center;
   font-size: 64px;
   font-weight: 700;
   line-height: 100%;
    margin-bottom: 30px;
    margin-top: 50px;
}

.header-class span{
    color:rgba(43, 127, 255, 1);
}
.container {
    max-width: 1200px;
    
    margin-left: auto;
    
    margin-right: auto;
    
}


.cosmetics-text {
   
    display: flex;

    
    justify-content: center;

  
    align-items: center;


    gap: 15px;
}


.cosmetics-text img:not(.arrow) {

    max-width: 100%;
    height: auto;
}
h4 span{
 color:   rgba(43, 127, 255, 1);
}
h4{
text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 30px;
    margin-top: 50px;

}